*.doc
*.docx
*.DS_Store
*.pyc
.idea/

Part1_TF-IDF/output/
Part1_TF-IDF_TF-IDF/.idea/
Part1_TF-IDF/results.txt
Part1_TF-IDF/data/pro_res.txt

Part1_TF-IDF/data/pro_keyword/
Part2_Text_Classify/data/
Part2_Text_Classify/src/id2class2.txt
Part2_Text_Classify/src/result.txt
Part2_Text_Classify/src/result2.txt
Part2_Text_Classify/test/

Part2_Text_Classify/cached_train
Part2_Text_Classify/cached_valid
Part2_Text_Classify/cached_test

Part2_Text_Classify/data_train
Part2_Text_Classify/data_valid
Part2_Text_Classify/data_test
Part2_Text_Classify/test_data.txt

Part3_Text_Cluster/data_temp/
Part3_Text_Cluster/data_temp2/
Part3_Text_Cluster/res_temp/
Part3_Text_Cluster/src/*.txt
Part3_Text_Cluster/data.txt

Part4_Word_Similarity/get_data.py

Part3_Text_Cluster/cached_offline/
Part3_Text_Cluster/cached_test/
Part3_Text_Cluster/out_kmeans.txt
Part3_Text_Cluster/out_tf.txt
Part3_Text_Cluster/out_tfidf.txt

Part1_TF-IDF/TF_IDF/__pycache__/
Part4_Word_Similarity/word2vec/*.txt
Part4_Word_Similarity/word2vec/corpus.model
Part4_Word_Similarity/word2vec/corpus.model.bin

relation_extraction/data/

Part5_Emotion_Analysis/htl
Part5_Emotion_Analysis/htl_cached
Part5_Emotion_Analysis/weibo
Part5_Emotion_Analysis/.spyproject/
